.wrapper {
  width: 980px;
  margin: 0 auto;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset {
  width: 400px;
  margin: 0 auto;
}

label {
  padding: 20px;
  line-height: 2.5;
}
